/* Styles pour les écrans de petite taille (mobile) */
@media (max-width: 767px) {
    .section-with-margin {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    /* header */
    .company_info {
        display: flex;
        flex-direction: column;
        /* Disposition en colonne pour les petits écrans */
    }

    .banner_image {
        margin-top: 3rem;
    }

    .logo_and_text {
        order: 1;
        /* Mettre le logo et le texte en haut */
    }

    .banner_image {
        order: 2;
        /* Mettre l'image sous le logo et le texte */
        width: 100%;
        /* Assurer que l'image prend toute la largeur */
    }

    /* article */

    article h1 {
        font-size: 18px;
    }

    article p {
        font-size: 18px;
    }

    .category_buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* Centrer les éléments */
        margin: 0 auto;
        padding: 1;
        text-align: -webkit-center;
    }

    .category_buttons li {
        width: 100%;
        /* Pour la version mobile, occuper toute la largeur disponible */
        margin-bottom: 4%;
        margin-right: 0;
    }

    .category_buttons button {
        max-width: 100%;
        width: 80%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        /* Afficher les éléments en ligne */
        align-items: center;
        /* Aligner les éléments sur l'axe transversal (verticalement) */
        text-align: center;
        /* Aligner le texte au centre */

    }

    .category_buttons button img {
        margin-right: 5px;
        margin-bottom: 0;
        /* Ajouter une marge à droite de l'image */
        max-height: 70%;
    }


    /* sections */

    section p {
        font-size: 16px;
    }

    section h2 {
        font-size: 20px;
    }

    #section-concepts {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    #section-audit {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    #section-conseils {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    /* footer */

    .slogan {
        font-size: 14px;
    }

    .contact_info_footer {
        font-size: 14px;
    }

    .rights_reserved {
        font-size: 12px;
    }

    .contact_info_footer {
        flex-direction: column;
    }

    .contact_info_footer a {
        padding: 4px;
    }

}


/* Styles pour les écrans de taille moyenne (tablettes) */
@media (min-width: 768px) and (max-width: 1024px) {
    .category_buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6%;
        /* Ajouter un espace entre les colonnes */
        margin: 0 auto;
        /* Centrer les boutons */
        max-width: 600px;
        /* Ajouter une largeur maximale pour éviter qu'ils s'étendent trop sur des écrans plus larges */
    }

    .category_buttons li {
        width: 100%;
        /* Définir la largeur de chaque élément à 100% (deux par ligne avec un petit espace entre eux) */
        margin-bottom: 2%;
        /* Ajouter une marge entre les lignes */
    }

    .category_buttons button {
        width: 25vw;
        height: 15vh;
    }

    /* sections */

    section p {
        font-size: 16px;
    }

    #section-concepts {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    #section-audit {
        padding-top: 12rem;
        padding-bottom: 6rem;
    }

    #section-conseils {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    /* footer */

    .slogan {
        font-size: 16px;
    }

    .contact_info_footer {
        font-size: 16px;
    }
}