body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 400;
    line-height: 2;
    text-align: left;
    background-color: rgba(131, 31, 1, 0.34);
    margin: 0;
    padding: 0;
}

.section-with-margin {
    margin-right: 10rem;
    margin-left: 10rem;
}



/* header section */
.header {
    display: flex;
    justify-content: space-between;
    /* Aligner les éléments à chaque extrémité */
    align-items: baseline;
    /* Centrer verticalement */
    padding-top: 2rem;
    flex-wrap: wrap;
    font-size: 14px;
}

/* Styles pour desktop (caché) */
.menu-icon {
    display: none;
}

.nav-background {
    display: none;
}

.menu_nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.menu_nav li {
    margin-bottom: 10px;
    /* Espacement entre les sections */
}

.menu_nav a {
    color: #fff;
    /* Couleur du texte pour les liens dans la navigation */
    text-decoration: none;
}

.menu_nav::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 20px;
    /* Ajustez la marge pour l'espace autour de la ligne */
}

.nav-background a {
    display: flex;
    align-items: center;
    color: #fff;
    /* Couleur du texte */
    text-decoration: none;
    margin-bottom: 10px;
    /* Espacement entre les éléments */
    margin-left: 3rem;
    padding-top: 1.5rem;
}

.nav-background img {
    margin-right: 10px;
    /* Espacement entre l'icône et le texte */
}

.contact_nav {
    display: flex;
    align-items: center;
    /* Centrer verticalement */
}

.contact_nav a {
    margin-right: 32px;
    /* Ajoutez un espace entre les éléments */
    text-decoration: none;
}

.categories_nav {
    display: flex;
}

.categories_nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.categories_nav li {
    margin-right: 15px;
    /* Ajoutez un espace entre les éléments */
}

.categories_nav a {
    text-decoration: none;
    color: black;
    margin-right: 22px;
}

.contact_nav a {
    border-bottom: none;
}

.contact_nav a span {
    text-decoration: none;
    color: black;
}

.contact_nav img {
    margin-right: 12px;
    /* Ajoutez une marge droite de 12px aux images */
}


/* fin header section */

/* article */

article h1 {
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

article p {
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
}

.company_info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* Aligner le contenu à gauche */
    align-items: center;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    position: relative;
}

.logo_and_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Aligner le logo et le texte à gauche */
    width: 650px;
}

.text_info {
    margin-top: 4rem;
}


.company_info .text_info {
    flex: 1;
    text-align: left;
    /* Aligner le texte à gauche */
}

.company_info .banner_image {
    width: 500px;
}

.category_buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    /* Ajoutez cette ligne */
    z-index: 1;
    /* Ajoutez cette ligne pour garantir que les boutons restent au-dessus du fond */
    text-align: -webkit-center;
}

.category_buttons li {
    padding: 28px;
}

.category_buttons button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20vw;
    /* Utilisez une unité relative (viewport width) pour la largeur */
    max-width: 240px;
    /* Ajoutez une largeur maximale pour éviter le débordement sur de petites écrans */
    height: 20vh;
    /* Utilisez une unité relative (viewport height) pour la hauteur */
    max-height: 200px;
    /* Ajoutez une hauteur maximale */
    background-color: #FFFFFF;
    /* Couleur d'origine avant inversion */
    border: 1px solid #831F01;
    /* Ajout de la bordure */
    cursor: pointer;
    /* Effet drop shadow */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s;
    /* Animation de transition pour le changement de couleur */
    position: relative;
    /* Ajoutez cette ligne */
    top: 50%;
    /* Ajoutez cette ligne */
    transform: translateY(50%);
    /* Ajoutez cette ligne pour centrer verticalement */
}

.category_buttons button:hover {
    background-color: #831F01;
}

.category_buttons img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 15px;
    /* Couleur du texte et de l'image SVG à l'intérieur du bouton */
    filter: invert(0%);
    /* Inverse la couleur de l'image (noir devient blanc) */
    transition: filter 0.3s;
    /* Ajoutez une transition pour un effet doux */
}

.category_buttons button:hover img {
    filter: invert(100%);
    /* Retourne à la couleur d'origine au survol */
}

/* Styling pour le texte à l'intérieur du bouton */
.category_buttons button span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    /* Taille du texte en pixels */
    color: #831F01;
}

/* Couleur initiale avant inversion */
.category_buttons button .initial-color {
    color: #831F01;
    transition: color 0.3s;
}

/* Couleur après inversion */
.category_buttons button:hover .initial-color {
    color: #FFFFFF;
}

/* fin article */

/* sections */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Ajustez selon vos besoins */
    position: relative;
}

section p {
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;

}

section h2 {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 24px;
}

section img {
    width: 500px;
}

#section-backup {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#section-audit {
    padding-top: 12rem;
    padding-bottom: 6rem;
}

#section-concepts {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#section-conseils {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#section-backup {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.full-width {
    width: 100%;
    /* Ajustez la valeur selon vos besoins */
    position: relative;
    background-color: #FFFFFF;
    /* Couleur de fond pour les sections pleine largeur */
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.default {
    background-color: #FFFFFF;
}

.content {
    flex: 1;
    max-width: 50%;
}


.reversed .content {
    order: 2;
    /* Inverse l'ordre des éléments à l'intérieur de la section */
}

.reversed img {
    order: 1;
    /* Inverse l'ordre des éléments à l'intérieur de la section */
}

/* fin sections */

/* début footer */
.slogan {
    text-align: center;
    /* Centrer le texte */
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
}

footer {
    background-color: #831F01;
    /* Couleur de fond */
    color: #FFFFFF;
    /* Couleur du texte */
    text-align: center;
    /* Centrer le texte */
    padding: 20px;
    /* Ajouter un espacement interne */
}

.contact_info_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 16px;
}

.contact_info_footer a {
    margin-right: 20px;
    /* Ajouter un espacement entre les éléments si nécessaire */
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 3rem;
    margin-left: 3rem;
}

.contact_info_footer img {
    margin-right: 15px;
}

.rights_reserved {
    margin-top: 20px;
    /* Ajouter une marge en haut */
    font-size: 14px;
    border-top: 2px solid #FFFFFF;
    /* Ajouter la ligne blanche au-dessus du paragraphe */
    width: 50%;
    /* Spécifier la largeur de la ligne */
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    /* Ajouter un espacement au-dessus de la ligne */
    font-size: 14px;
}

/* fin footer */